<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.librarymgmt/menu.application" insertBefore="administration" icon="font-icon:APPLE">
        <item screen="User.browse" caption="msg://com.company.librarymgmt.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Book.browse" caption="msg://com.company.librarymgmt.screen.book/bookBrowse.menu"/>
        <item screen="Member_.browse" caption="msg://com.company.librarymgmt.screen.member/memberBrowse.menu"/>
        <item screen="BookIssue.browse" caption="msg://com.company.librarymgmt.screen.bookissue/bookIssueBrowse.menu"/>
    </menu>

</menu-config>